<p>Custom Inputs</p>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">

  <app-c-input type="text" name="name" [parentForm]="userForm" label="Name"  [inputValue]="value" [cssClass]="''" (inputModelChange)="changeVal($event)"></app-c-input><br>

  <app-c-input type="select" name="mobile" [parentForm]="userForm" label="Select" [dataList]="dataList" (inputModelChange)="changeVal($event)"  [inputValue]="phone_no"></app-c-input>

  <app-c-input type="radio" name="gender" [parentForm]="userForm" label="Gender" [dataList]="genderList" (inputModelChange)="changeVal($event)"  [inputValue]="gender"></app-c-input>

  <app-c-input type="checkbox" name="skills" [parentForm]="userForm" label="Skills" [dataList]="skillsList" (inputModelChange)="changeVal($event)" ></app-c-input>

</form>

<router-outlet></router-outlet>